@using SMPage.Models
@using SMPage.Services
@using Microsoft.JSInterop
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using SMPage.Components

@page "/search-wild-pokemon"

@code {


    // CSV 로드

    private List<PokemonMoveCSV> AllPokemonMoves { get; set; } = new List<PokemonMoveCSV>();

    protected override void OnInitialized()
    {
        //Task.Run(async () => await LoadData());
    }


    private bool IsDataLoaded { get; set; } = false;

    private async Task LoadDataOnDemand()
    {
        if (!IsDataLoaded)
        {
            await LoadData();
            IsDataLoaded = true;
            StateHasChanged();  // UI 갱신
        }
    }

    private async Task LoadData()
    {
        AllPokemonMoves = await CsvLoader.LoadPokemonMoves(Http, "database/pokemon_moves.csv") ?? new List<PokemonMoveCSV>();
    }


    // 언어 변경
    private int _previousLanguageId;

    [CascadingParameter(Name = "SelectedLanguageId")]
    public int CurrentLanguageId { get; set; }


    protected override void OnParametersSet()
    {
        if (_previousLanguageId != CurrentLanguageId)
        {
            UpdateUIForLanguageChange();
            _previousLanguageId = CurrentLanguageId;
        }
    }

    private void UpdateUIForLanguageChange()
    {
        StateHasChanged();
    }



    // 데이터 가져오

    private int SelectedVersionId { get; set; }

    private void HandleVersionChecked(int checkedVersionId)
    {
        // 선택된 버전 정보 처리
        //SelectedVersionId = checkedVersionId;
    }

    public List<MoveNameCSV> SelectedMoves { get; set; } = new List<MoveNameCSV>();

    private void HandleMoveSelected(MoveNameCSV selectedMove)
    {
        SelectedMoves.Add(selectedMove);
        Console.WriteLine($"Handling move: {selectedMove.Name}");
        StateHasChanged();
    }



    private void FindWildPokemon()
    {
        // 와일드 포켓몬을 검색하는 로직을 여기에 추가합니다.
    }
}


<VersionSelect CurrentLanguageId="@CurrentLanguageId" OnVersionSelected="HandleVersionChecked" />

<div class="row">
<MoveSearch CurrentLanguageId="@CurrentLanguageId" OnMoveSelected="HandleMoveSelected" />
    <div class="col-md-6">

        <!-- 선택된 기술 목록 -->
        <h5>Selected Moves:</h5>
        <div class="gap"></div>
        <div class="bordered-box-container">
            @foreach (var addedMove in SelectedMoves)
            {
                <div>
                    @addedMove.Name (ID: @addedMove.MoveId)

                </div>
            }
        </div>
    </div>
</div>
    <button @onclick="FindWildPokemon">Find Wild Pokemon</button>