<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PokemonSearchMoveset</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" >
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-pokemon">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search by ID
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-a-pokemon">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search 1 Pokemon
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search-pokemon-party">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Pokemon Party
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pickup-simulation">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Pickup Simulation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pickup-simulation2">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Pickup Simulation2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pickup-counter">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Pickup Counter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
